@import "styles";

path.leaflet-interactive{
  outline: none;
}

img {margin-bottom:1px}
#map {margin-bottom:10px}

.marker-cluster-small {
	background-color: rgba(171, 200, 55, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(171, 200, 55, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(171, 200, 55, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(171, 200, 55, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(171, 200, 55, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(171, 200, 55, 0.6);
	}